@media (min-width: 320px) and (max-width: 600px){

}

.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.map-container{
  width: 80%;
  height: 500px;
  border: 1px solid black;
}

.map {
  width: 100%;
  height: 100%;
}