@media (min-width: 320px) and (max-width: 600px){
  .sub-container{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    height: 80%;
  }
}

.sign-container{
  width: 100vw;
  height: 1000px;
}

.sub-container{
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.form-container{
  width: 400px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  background-color: white;
  position: relative;
  border-radius: 10px;
}

.form-container::before{
  content: '';
  position: absolute;
  inset: -2px;
  background-color: gray;
  filter: blur(5px);
  z-index: -1;
  border-radius: 10px;
}

.sign-up{
  font-family: 'MyFonts';
  font-size: 45px;
}

.sign-form{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  width: 70%;
}

.sign-input{
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sign-btn{
  cursor: pointer;
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.sign-btn:hover{
  background-color: rgb(65, 156, 254);
  color: white;
}

.location-marker{
  width: 100%;
  height: 100%;
}

.tag-logo{
  width: 400px;
  height: auto;
  place-items: center;
}

.tagline{
  font-family: 'MyFonts';
  font-size: 25px;
}

.log-btn{
  text-decoration: none;
}